<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ricette di Cucina{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="{% block body_class %}{% endblock %}">

{% block header %}
    <header>
        <h1>Ricette di Cucina</h1>
        <nav>
            <ul>
                {% if 'user_id' in session %}
                    <li class="user-name"><strong style="font-size: 1.2em;">Ciao, {{ session['username'] }}</strong></li>
                {% endif %}
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('new_recipe') }}">Aggiungi Ricetta</a></li>
                <li><a href="{{ url_for('random_recipe') }}">Non Sai Cosa Preparare</a></li>
                {% if 'user_id' in session %}
                    <li><a href="{{ url_for('my_favorites') }}">Ricette Preferite</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}

<main>
    {% block content %}
    {% endblock %}
</main>

{% block footer %}
    <footer>
        <p>&copy; 2024 Ricette di Cucina</p>
    </footer>
{% endblock %}

</body>
</html>