{% extends "layout.html" %}

{% block content %}
<div class="recipe-random-wrapper">
    <h2>{{ recipe.name }}</h2>
    <img src="../{{ recipe.image_path }}" alt="Immagine del piatto" class="recipe-random-image">
    <div class="recipe-random-details">
        <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
        <p><strong>Procedure:</strong> {{ recipe.procedure }}</p>
    </div>
    <button onclick="location.href='{{ url_for('random_recipe') }}'" class="btn-random-recipe">Try Another Random Recipe</button>
</div>
{% endblock %}